.success {
  color: green;
  background: lightgrey;
  font-size: 18px;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 18px;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}
