.success {
  color: green;
  background: lightgrey;
  font-size: 18px;
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 18px;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 10px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

button {
    background-color: #000000;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3f4142;
}